export PW_PLATFORM_HOST=noaa.parallel.works
export PW_API_KEY="pwt_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#To generate your own PW_API_KEY:
#1. Log in to your noaa.parallel.works account.
#2. Click (and hold) at your username (at upper right corner)
#3. Move down the menu to "ACCOUNT".
#4. Click "Authentication" at top leftish on the menu.
#5. Click on "API Keys" and following the steps to "Add Key", Give it a meaningful and choose Expiration "no expiration".
#   make sure to copy the key when it pops up during creation. This is the only time you can access this key.

#Please note, you shouldn't send this PW_API_KEY to anyone via email or by any other channel.
#This key can be used to authenticate as your user into the platform, so if the wrong person gets it,
#they could potentially use it to access your account and files.

